#search_part{
    margin:20px;
}

#view_part{
    margin:20px;
}

#view_part table thead{
    background-color: #c0d0ff;
}

#view_part table tbody tr:nth-child(even) td{
    background-color: #f0f0f0;
}
